* {
  box-sizing: border-box;
}

img {  
  max-height: fit-content;
  width: 100%;
  display: block;
}

.as_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 18px;
}

.as_main {
  width: 60%;
  list-style-type: none;  
  padding: 0;
  display: flex;
  flex-direction: column;  
}

@media screen and (max-width: 1098px) {
  .as_main {
    width: 75%;
  }  
}

@media screen and (max-width: 789px) {
  .as_main {
    width: 80%;
  }

  img {
    max-height: fit-content;
    width: 100%;
  }
}

@media screen and (max-width: 486px) {
  .as_main {
    width: 90%;
  }
}
